/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: "Inter", sans-serif; /*основной шрифт*/
    --accent-font: "PressStart2P-Regular", monospace; /*акцентный шрифт*/
    --main-font-variations: 400; /*основной вес шрифта*/
    --title-weight: 785; /*вес шрифта заголовка*/
    --themes-background: #fff; /*цвет фона секций*/
    --themes-mainColor: #000; /*основной цвет обводки*/

    --grid-gradient:
    repeating-linear-gradient(
        to right,
        #d3d3d3,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
    ),
    /* Второй градиент - вертикальные полосы */
    repeating-linear-gradient(
      to bottom,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    /* Третий градиент - плавное затемнение сверху вниз */
    linear-gradient(
      to bottom,
      #e7e7e7 0.01%,
      #1a1a1a
    );
    

}